.todo {
    width: 600px;
    margin: 0 auto;

    &__title {
        font-size: 100px;
        text-align: center;
        font-weight: normal;
        color: rgb(247, 210, 210);
        margin: 30px 0;
    }

    &__wrapper {
        box-shadow: 
            0 2px 4px 0 rgba(0, 0, 0, 0.2), 
            0 25px 50px 0 rgba(0, 0, 0, 0.1);
    }
}

.todo-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);                

    &__fields {
        width: 550px;
        height: 50px;
        border: none;
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);                

        &::placeholder {
            opacity: .5;
            font-style: italic;
        }

        &:focus {
            outline: none;
        }
    }

    &__mark-all {
        width: 50px;
        font-size: 0;
        position: relative;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            position: absolute;
            content: 'â¯';
            font-size: 25px;
            color: #e6e6e6;
            transform: rotate(90deg);
            z-index: 1;
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #mark-all {
        display: none;

        &:checked + .todo-form__mark-all::before {
            color: gray;
        }
    }
}

.todo-list {
    padding: 0;
    margin: 0;
    background-color: #fff;
    list-style: none;

    &__item {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

        &:hover > .todo-list__destroy {
            display: block;
        }
    }

    &__checkbox {

        input {
            display: none;

            &:checked + label {
                background-image: url('../images/circle-checked.svg');
            }
        }

        label {
            display: block;
            width: 40px;
            height: 40px;
            background-image: url('../images/circle.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__description {
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;

        &_completed {
            text-decoration: line-through;
            opacity: .5;
        }
    }

    &__destroy {
        display: none;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: transparent;
        font-size: 0;
        border: none;
        margin-right: 15px;

        &:hover {
            cursor: pointer;
        }

        &::after,
        &::before  {
            position: absolute;
            content: '';
            height: 3px;
            background-color: rgb(247, 210, 210);
            left: 0;
            right: 0;
        }

        &:hover::after,
        &:hover::before {
            background-color: rgb(173, 70, 70);
        }

        &::after  {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg)
        }
    }
}

.todo-filter {
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    color: #777;
    position: relative;
    height: 50px;
    z-index: 1;

    &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
                0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 
                0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2)
    }

    &__count {
        margin-left: 15px;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 230px;
        justify-content: space-between;
        align-items: center;
        margin-left: 90px;
    }

    &__item {

        button {
            background-color: transparent;
            border: 1px solid transparent;
            color: #777;
            padding: 5px 10px;

            &:hover {
                cursor: pointer;
                border: 1px solid rgb(247, 210, 210);
                border-radius: 3px;
            }

            &:focus {
                outline: none;
            }
        }

        .active {
            border: 1px solid rgb(223, 170, 170);
            border-radius: 3px;

            &:hover {
                border: 1px solid rgb(223, 170, 170);
            }
        }
    }

    &__clear {
        background-color: transparent;
        color: #777;
        border: none;
        margin-left: auto;
        margin-right: 15px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        &:focus {
            outline: none;
        }
    }
}

.todo-edit-form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    height: 50px;

    input {
        width: 550px;
        height: 50px;
        margin-left: 50px;
        box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #999;

        &:focus {
            outline: none;
        }
    }
}